
:root {
  --gul: #F5C842;
  --orange: #F2B63D;
  --blå: #0465BA;
  --mørkeblå: #023A6B;
  --blåsort: #0E2342;
}

.body {
 
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  color: var(--mørkeblå);
}



.bg-green {
  margin-top: 100vh;
  padding-top: 20px;
}

@media screen and (max-width: 768px){
  .bg-green {
    margin-top: 50vh;
  }
  
}